#header {
	background-color: #E6E6E6;
}
h1 {
	font-weight: bold;
	font-family: 'Verdana';
	margin-bottom: 1%;
	color: #28A745;
	text-align: center;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
body {
	line-height: 3;
	margin: 0 1%;
	background-color: #F7F7F7;
}
label {
	font-size: 1.1em;
    color: #28A745;
    padding-top: 30px;
    text-align: left;
    font-weight: bold;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: white;
}
button, a{
	margin-top: 4%;
}
button#agregarEmpleado {
	float: right;
}
span {
	float: right;
	font-size: 1.1em;
    color: #28A745;
}
