#sidebar {
    min-width: 350px;
    max-width: 350px;
    min-height: 100vh;
    position: fixed;
    background: #E6E6E6;
}
body {
	line-height: 2;
	text-align: center;
	margin: 0 1%;
	background-color: #F7F7F7;
}
h1 {
	font-weight: bold;
	font-family: 'Verdana';
	margin-bottom: 1%;
	color: #2AA847;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
#header {
	background-color: #E6E6E6;
	width: 100%;
}
input, select {
	margin: 6% 0
}
.container {
	width: 100%;
}
h3 {
	margin-top: 1%;
	font-weight: bold;
	font-family: 'Verdana';
	color: #2AA847;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}